<% content_for :title, "Mission submissions" %>

<div class="app-layout">
  <div class="app-layout__main">
    <header class="mission-submissions__header">
      <h1>Mission submissions</h1>
      <%= form_with url: mission_submissions_path, method: :get, local: true, class: "mission-submissions__filter" do %>
        <% state_options = Mission::Submission.aasm.states.map { |s| [ s.name.to_s.titleize, s.name.to_s ] } %>
        <%= select_tag :status,
                        options_for_select([ [ "All", nil ] ] + state_options, params[:status]),
                        onchange: "this.form.submit()" %>
      <% end %>
    </header>

    <% if @submissions.any? %>
      <table class="mission-submissions__table">
        <thead>
          <tr>
            <th>Mission</th>
            <th>Project</th>
            <th>Builder</th>
            <th>Path</th>
            <th>Status</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @submissions.each do |s| %>
            <tr>
              <td><%= link_to s.mission.name, mission_path(s.mission.slug) %></td>
              <td><%= link_to s.ship_event.post.project.title, project_path(s.ship_event.post.project) %></td>
              <td><%= s.ship_event.post.user&.display_name %></td>
              <td><%= s.payout_path %></td>
              <td>
                <%= link_to s.status.titleize, mission_submission_path(s),
                            class: "status-pill status-pill--#{s.status}" %>
              </td>
              <td><%= time_ago_in_words(s.created_at) %> ago</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="mission-submissions__empty">No submissions yet.</p>
    <% end %>
  </div>
</div>
